Holly\ Nixon\ -\ BAS\ -\ Chla\ Correcting/
Louis/cache/
Louis/data/data_631_allqc.mat
Louis/data/gebco_2024_n-55.0_s-65.0_w-40.0_e-32.0.nc
Louis/__pycache__/
Louis/code/__pycache__/
Louis/code/preprocessing/__pycache__/
Louis/code/preprocessing/quenching/__pycache__/
Louis/code/setup/__pycache__/
